In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Najran,SA,2021-04-15 16:29:55,17.4924,44.1277,89.60,18,74,6.91
1,1,Verkh-Usugli,RU,2021-04-15 16:29:56,52.7000,115.1667,26.42,62,97,4.56
2,2,Saint-Philippe,RE,2021-04-15 16:29:56,-21.3585,55.7679,77.00,83,0,3.44
3,3,Puttur,IN,2021-04-15 16:29:56,12.7667,75.2167,82.40,74,20,4.61
4,4,Port Alfred,ZA,2021-04-15 16:29:56,-33.5906,26.8910,69.85,66,100,25.26

In [3]:
# One caveat to using gmaps: The data we use 
# for any mapping must be either an integer 
# or a floating-point decimal number. Let's 
# check the data types for the columns of our 
# DataFrame.

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# The general syntax for creating a heatmap is as follows.
# 
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 
# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig



# *Google heatmaps do not plot negative numbers. If you 
# have a maximum temperature that is less than 0 °F, then 
# you will get an InvalidWeightException error, and you'll
# want to use the for loop/max() fix in the cell above
# this one.

Figure(layout=FigureLayout(height='420px'))

In [9]:
# For loop:
# 
# for temp in max_temp:
#     temps.append(max(temp, 0))
#     
# For loop above converted using LIST COMPREHENSION:
# 
# [max(temp, 0) for temp in max_temp]

In [10]:
# LIST COMPREHENSION IN PLACE OF A FOR LOOP

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig



# *Google heatmaps do not plot negative numbers. If you 
# have a maximum temperature that is less than 0 °F, then 
# you will get an InvalidWeightException error, and you'll
# want to use the list comprehension in place of a for loop
# employed in line 11 of this cell.

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Najran,SA,2021-04-15 16:29:55,17.4924,44.1277,89.60,18,74,6.91
2,2,Saint-Philippe,RE,2021-04-15 16:29:56,-21.3585,55.7679,77.00,83,0,3.44
3,3,Puttur,IN,2021-04-15 16:29:56,12.7667,75.2167,82.40,74,20,4.61
6,6,Rikitea,PF,2021-04-15 16:29:57,-23.1203,-134.9692,77.50,75,85,7.96
11,11,Amahai,ID,2021-04-15 16:29:58,-3.3333,128.9167,82.00,87,97,2.04
20,20,Pathein,MM,2021-04-15 16:25:39,16.7833,94.7333,80.62,73,37,7.31
21,21,Havelock,US,2021-04-15 16:28:07,34.8791,-76.9013,75.99,68,75,11.50
26,26,Georgetown,MY,2021-04-15 16:29:52,5.4112,100.3354,84.99,83,20,3.44
31,31,Hithadhoo,MV,2021-04-15 16:30:05,-0.6000,73.0833,82.54,69,9,1.95
39,39,Mabaruma,GY,2021-04-15 16:30:08,8.2000,-59.7833,86.13,61,69,6.76

In [17]:
preferred_cities_df.count()

City_ID       174
City          174
Country       171
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [18]:
# Consider the following guidance:
# 
# Depending on the time of year and the seasons, 
# you might have to adjust the minimum and 
# maximum temperature to get enough cities.
# 
# It is a good idea to keep the number of cities 
# to fewer than 200 to make it easier to plot the 
# markers on the heatmap.
# 
# If you have some rows with null values, you'll 
# need to drop them using the dropna() method at 
# the end of your filtering statement when you 
# are creating the new DataFrame.
# 
# Now that we have all the cities the customer 
# wants to travel to, they will need to find a 
# hotel to stay in the city.

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Najran      SA     89.60  17.4924   44.1277
2   Saint-Philippe      RE     77.00 -21.3585   55.7679
3           Puttur      IN     82.40  12.7667   75.2167
6          Rikitea      PF     77.50 -23.1203 -134.9692
11          Amahai      ID     82.00  -3.3333  128.9167
20         Pathein      MM     80.62  16.7833   94.7333
21        Havelock      US     75.99  34.8791  -76.9013
26      Georgetown      MY     84.99   5.4112  100.3354
31       Hithadhoo      MV     82.54  -0.6000   73.0833
39        Mabaruma      GY     86.13   8.2000  -59.7833

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotl Name
0,Najran,SA,89.60,17.4924,44.1277,,محمد هادي ال فطيح
2,Saint-Philippe,RE,77.00,-21.3585,55.7679,,"Chambres d'hôte ""La Trinité"""
3,Puttur,IN,82.40,12.7667,75.2167,,Hotel Super Tower
6,Rikitea,PF,77.50,-23.1203,-134.9692,,Pension Maro'i
11,Amahai,ID,82.00,-3.3333,128.9167,,HOTEL ISABELA
20,Pathein,MM,80.62,16.7833,94.7333,,New Pammawaddy Hotel
21,Havelock,US,75.99,34.8791,-76.9013,,Sherwood Motel
26,Georgetown,MY,84.99,5.4112,100.3354,,Cititel Penang
31,Hithadhoo,MV,82.54,-0.6000,73.0833,,Scoop Guest House
39,Mabaruma,GY,86.13,8.2000,-59.7833,,Monty Brooms Guest House

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# multiline string = three quotes, that is:
# info_box_template = """

# HTML code is defined by the opening and 
# closing the angular brackets (e.g., <tag> 
# and <tag/>).

In [25]:
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """
# 
# Here's what these tags mean:
# 
# The <dl> tag is a description list (dl).
# The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
# The <dd> tag is used to define the term or name or <dt> tag.
# If we were to write out these tags on paper, it would look like this.
# 
# Description List: <dl>
# Description Term: <dt>
# Description Definition: <dd>
# Description Term: <dt>
# Description Definition: <dd>

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))