In [1]:
# Import the dependencies.

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json

# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

# Import the datetime module from the datetime library.
from datetime import datetime

In [2]:
# Create a set of random latitude and longitude combinations.

lats = np.random.uniform(low=-90.000, high=90.000, size=5)
lngs = np.random.uniform(low=-180.000, high=180.000, size=5)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.

coordinates = list(lat_lngs)

In [4]:
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []

# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count.
len(cities)

5

In [6]:
# Starting URL for Weather Map API Call.

url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [7]:
# Create an empty list to hold the weather data.
city_data = []

# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:

        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()

        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        main_temp = city_weather["main"]["temp"]
        current_desc = city_weather["weather"]

        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')

        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date,
                          "Main Temp": main_temp,
                          "Current Description": current_desc})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | jalu
Processing Record 2 of Set 1 | sturgeon bay
Processing Record 3 of Set 1 | brae
Processing Record 4 of Set 1 | ossora
Processing Record 5 of Set 1 | maceio
-----------------------------
Data Retrieval Complete
-----------------------------

In [8]:
city_data

[{'City': 'Jalu',
  'Lat': 29.0331,
  'Lng': 21.5482,
  'Max Temp': 99.14,
  'Humidity': 8,
  'Cloudiness': 100,
  'Wind Speed': 4.52,
  'Country': 'LY',
  'Date': '2021-04-18 15:59:16',
  'Main Temp': 99.14,
  'Current Description': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}]},
 {'City': 'Sturgeon Bay',
  'Lat': 44.8342,
  'Lng': -87.377,
  'Max Temp': 50,
  'Humidity': 43,
  'Cloudiness': 1,
  'Wind Speed': 5.75,
  'Country': 'US',
  'Date': '2021-04-18 15:56:30',
  'Main Temp': 48.7,
  'Current Description': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}]},
 {'City': 'Brae',
  'Lat': 60.3964,
  'Lng': -1.353,
  'Max Temp': 48.2,
  'Humidity': 76,
  'Cloudiness': 0,
  'Wind Speed': 14.97,
  'Country': 'GB',
  'Date': '2021-04-18 15:59:17',
  'Main Temp': 48.2,
  'Current Description': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}]},
 {'City': 'Ossora',
  'Lat': 59.2353,
  'Lng': 163.0719,
  'Max Temp': 26.82,
  'Humidity': 92,
  'Cloudiness': 100,
  'Wind Speed': 3.42,
  'Country': 'RU',
  'Date': '2021-04-18 15:59:17',
  'Main Temp': 26.82,
  'Current Description': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}]},
 {'City': 'Maceio',
  'Lat': -9.6658,
  'Lng': -35.7353,
  'Max Temp': 80.6,
  'Humidity': 78,
  'Cloudiness': 75,
  'Wind Speed': 12.66,
  'Country': 'BR',
  'Date': '2021-04-18 15:55:56',
  'Main Temp': 80.6,
  'Current Description': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}]}]

In [9]:
city_data_js = json.dumps(city_data)
city_data_js

'[{"City": "Jalu", "Lat": 29.0331, "Lng": 21.5482, "Max Temp": 99.14, "Humidity": 8, "Cloudiness": 100, "Wind Speed": 4.52, "Country": "LY", "Date": "2021-04-18 15:59:16", "Main Temp": 99.14, "Current Description": [{"id": 804, "main": "Clouds", "description": "overcast clouds", "icon": "04d"}]}, {"City": "Sturgeon Bay", "Lat": 44.8342, "Lng": -87.377, "Max Temp": 50, "Humidity": 43, "Cloudiness": 1, "Wind Speed": 5.75, "Country": "US", "Date": "2021-04-18 15:56:30", "Main Temp": 48.7, "Current Description": [{"id": 800, "main": "Clear", "description": "clear sky", "icon": "01d"}]}, {"City": "Brae", "Lat": 60.3964, "Lng": -1.353, "Max Temp": 48.2, "Humidity": 76, "Cloudiness": 0, "Wind Speed": 14.97, "Country": "GB", "Date": "2021-04-18 15:59:17", "Main Temp": 48.2, "Current Description": [{"id": 800, "main": "Clear", "description": "clear sky", "icon": "01d"}]}, {"City": "Ossora", "Lat": 59.2353, "Lng": 163.0719, "Max Temp": 26.82, "Humidity": 92, "Cloudiness": 100, "Wind Speed": 3.42, "Country": "RU", "Date": "2021-04-18 15:59:17", "Main Temp": 26.82, "Current Description": [{"id": 804, "main": "Clouds", "description": "overcast clouds", "icon": "04n"}]}, {"City": "Maceio", "Lat": -9.6658, "Lng": -35.7353, "Max Temp": 80.6, "Humidity": 78, "Cloudiness": 75, "Wind Speed": 12.66, "Country": "BR", "Date": "2021-04-18 15:55:56", "Main Temp": 80.6, "Current Description": [{"id": 803, "main": "Clouds", "description": "broken clouds", "icon": "04d"}]}]'

In [10]:
city_data_df = pd.read_json(city_data_js)

In [11]:
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Main Temp,Current Description
0,Jalu,29.0331,21.5482,99.14,8,100,4.52,LY,2021-04-18 15:59:16,99.14,"[{'id': 804, 'main': 'Clouds', 'description': ..."
1,Sturgeon Bay,44.8342,-87.3770,50.00,43,1,5.75,US,2021-04-18 15:56:30,48.70,"[{'id': 800, 'main': 'Clear', 'description': '..."
2,Brae,60.3964,-1.3530,48.20,76,0,14.97,GB,2021-04-18 15:59:17,48.20,"[{'id': 800, 'main': 'Clear', 'description': '..."
3,Ossora,59.2353,163.0719,26.82,92,100,3.42,RU,2021-04-18 15:59:17,26.82,"[{'id': 804, 'main': 'Clouds', 'description': ..."
4,Maceio,-9.6658,-35.7353,80.60,78,75,12.66,BR,2021-04-18 15:55:56,80.60,"[{'id': 803, 'main': 'Clouds', 'description': ..."

In [12]:
city_data_js[1]

'{'

In [13]:
new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Current Description"]
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Jalu,LY,29.0331,21.5482,99.14,8,100,4.52,"[{'id': 804, 'main': 'Clouds', 'description': ..."
1,Sturgeon Bay,US,44.8342,-87.3770,50.00,43,1,5.75,"[{'id': 800, 'main': 'Clear', 'description': '..."
2,Brae,GB,60.3964,-1.3530,48.20,76,0,14.97,"[{'id': 800, 'main': 'Clear', 'description': '..."
3,Ossora,RU,59.2353,163.0719,26.82,92,100,3.42,"[{'id': 804, 'main': 'Clouds', 'description': ..."
4,Maceio,BR,-9.6658,-35.7353,80.60,78,75,12.66,"[{'id': 803, 'main': 'Clouds', 'description': ..."

In [14]:
current_desc = city_data_df.loc[:, ("Current Description")]
current_desc

0    [{'id': 804, 'main': 'Clouds', 'description': ...
1    [{'id': 800, 'main': 'Clear', 'description': '...
2    [{'id': 800, 'main': 'Clear', 'description': '...
3    [{'id': 804, 'main': 'Clouds', 'description': ...
4    [{'id': 803, 'main': 'Clouds', 'description': ...
Name: Current Description, dtype: object

In [15]:
current_desc_df = pd.DataFrame(current_desc)
current_desc_df

                                 Current Description
0  [{'id': 804, 'main': 'Clouds', 'description': ...
1  [{'id': 800, 'main': 'Clear', 'description': '...
2  [{'id': 800, 'main': 'Clear', 'description': '...
3  [{'id': 804, 'main': 'Clouds', 'description': ...
4  [{'id': 803, 'main': 'Clouds', 'description': ...

In [16]:
for 1 in city_data['Current Description']:
    print(every_city['description'])

SyntaxError: cannot assign to literal (<ipython-input-16-f85ee7af2e5e>, line 1)